/* Tab1.css */

.categories, .popular-services {
  padding: 15px;
}

.category-card, .service-card {
  border-radius: 20px; /* Consistent rounded corners */
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.category-card:hover, .service-card:hover {
  transform: scale(1.05);
}

.category-card-content, .service-card-content {
  display: flex;
  font-size: 0.8em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 230px;
  max-height: fit-content;
}

.category-icon, .service-icon {
  font-size: 3em;
  color: #007bff;
  margin-bottom: 15px;
}
  
.swiper {
    width: 100%;
}
  
.swiper-wrapper {
    display: flex;
    /* flex-wrap: nowrap; */
}
  
