
.custom-content {
  background-color: #007bff;; /* Latar belakang IonContent putih */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 2; /* Pastikan IonContent berada di atas footer */
}

.subscriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-rectangle {
  width: 100%;
  background: linear-gradient(180deg, #FFF 43.6%, #FFF 99.89%);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1; /* Pastikan z-index lebih rendah agar footer berada di belakang */
}

.blur-logo {
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 10%;
  align-items: center;
  justify-content: center;
  width: 50%; /* Adjust size as needed */
  height: auto;
  border-radius: 12px;
  box-shadow: white;
}

/* Blurred white light effect behind the logo */
.logo-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: white;
  filter: blur(20px);
  z-index: -1;
}

